/FRCProject/build/
/PracticeProjects/JoystickPractice/build/
/PracticeProjects/JoystickPractice/nbproject/private
/PracticeProjects/JoystickServoPractice/build/
/PracticeProjects/FunRobot/build/
/PracticeProjects/FunRobot/nbproject/private
/PracticeProjects/BasicJava/Pathga/nbproject/private/
/PracticeProjects/BasicJava/Pathga/build/